$light-color: #C9E1B6;
$primary-color: #A3C489;
$dark-color: #4D7929;
$very-dark-color: #2F3E23;

body {
    margin: 0px 10px 0px 0px;
    background-color: #fcfcfc;
}

div.modal-header {
    background-color: #eee;
}

div.modal-body {
    background-color: #fcfcfc;
}

div.players-row {
    padding: 10px;

    .not-connected {
        font-size: 1.5em;
        color: rgba(0,0,0,0.3);
    }

    .connected {
        font-size: 1.5em;
    }

    img.house {
        width: 65%;
    }
}

div.player-mini {

    div.money {
        float: right;
    }

    div.plant-mini {
        display: inline-block;
        width: 23%;
        margin: 1%;
    }
}

div.auction-plants {
    div.plant-mini-3 {
        display: inline-block;
        width: 24.5%;
        margin: 0.25%;
    }

    div.plant-mini-4 {
        display: inline-block;
        width: 24.5%;
        margin: 4%;
    }
}

div.player-plants {
    margin: 0px 0px 10px 0px;

    div.plant {
        display: inline-block;
        width: 23%;
        margin: 1%;

        img.plant-img {
            z-index: -1;
        }

        div.plant-anchor {
            position: relative;
        }

        div.plant-selected {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
        }

        $padding-left: 12%;
        $padding-top: 25%;
        $padding-beetween: 2%;

        @for $x from 1 through 6 {
            $i: $x - 1;
            $row: floor($i / 3);
            $column: $i % 3;
            $size: (100% - 2 * $padding-left - 2 * $padding-beetween) / 3;
            $top: $padding-top + $row * ($size + $padding-beetween);
            $left: $padding-left + $column * ($size + $padding-beetween);

            .res-#{$i} {
                position: absolute;
                top: $top;
                left: $left;
                width: $size;
                height: $size;
            }
        }

        div.plant-power {
            padding: 5% 0% 0% 0%;

            div.left-placeholder {
                display: inline-block;
                width: 10%;
            }

            div.resource-input {
                display: inline-block;
                margin: 1%;
                width: 37%;
            }

            div.resource-ok {
                margin: 17% 0% 2% 0%;
                width: 18%;
            }

            div.float-right {
                float:right;
            }
        }
    }
}

div.resources-buy {
    button {
        margin: 5px;
    }
}

div.stations {
    button {
        margin: 5px;
    }
}

map.map-usa {
    margin: 0px 0px 0px 0px;

    div.map-container {
        position: relative;
    }

    img.map {
        z-index: -1;
    }

    img.stop {
        margin: 10%;
        width: auto;
        height: 80%;
    }

    $padding-bottom: 3%;
    $padding-right: 37%;
    $padding-right-small: 36.5%;
    $padding-left: 2%;
    $padding-left-small: 2.5%;
    $padding-big: 0.25%;
    $padding-small: 0.1%;
    $padding-gap: 2%;
    $padding-small-gap: 1%;
    $padding-vertical: 1.0%;

    @for $x from 1 through 24 {
        $i: $x - 1;
        $group: floor($i / 3);
        $pos: $i % 3;
        $size: (100% - $padding-left - $padding-right - 7 * $padding-gap - 16 * $padding-big) / 24;
        $small-size: (100% - $padding-left-small - $padding-right-small - 7 * $padding-small-gap - 16 * $padding-small) / 32;
        $group-size: 3 * $size + 2 * $padding-big;
        $small-group-size: 4 * $small-size + 3 * $padding-small;

        .res-coal-#{$x} {
            position: absolute;
            width: $size;
            bottom: $padding-bottom + 2 * $size + 2 * $padding-vertical;
            right: $padding-right + $group * ($group-size + $padding-gap) + $pos * ($size + $padding-big);
        }

        .res-oil-#{$x} {
            position: absolute;
            width: $small-size;
            bottom: $padding-bottom + 1 * $size + 1 * $padding-vertical;
            right: $padding-right-small + $group * ($small-group-size + $padding-small-gap) + ($pos + 1) * ($small-size + $padding-small);
        }

        .res-garbage-#{$x} {
            position: absolute;
            width: $size;
            bottom: $padding-bottom;
            right: $padding-right + $group * ($group-size + $padding-gap) + $pos * ($size + $padding-big);
        }
    }

    @for $x from 1 through 4 {
        $i: $x - 1;
        $row: floor($i / 2);
        $column: $i % 2;
        $size: (100% - $padding-left - $padding-right - 7 * $padding-gap - 16 * $padding-big) / 24;

        .res-uranium-#{$x} {
            position: absolute;
            width: $size;
            bottom: $padding-bottom + $row * ($size + $padding-gap + 1.1%);
            right: $padding-right - 2 * ($padding-gap + $size) + $column * ($size + $padding-gap - 0.5%) + 0.8%;
        }
    }

    @for $x from 5 through 12 {
        $i: $x - 5;
        $size: (100% - $padding-left - $padding-right - 7 * $padding-gap - 16 * $padding-big) / 24;
        $small-size: (100% - $padding-left-small - $padding-right-small - 7 * $padding-small-gap - 16 * $padding-small) / 32;
        $small-group-size: 4 * $small-size + 3 * $padding-small;

        .res-uranium-#{$x} {
            position: absolute;
            width: $small-size;
            bottom: $padding-bottom + 1 * $size + 1 * $padding-vertical;
            right: $padding-right-small + $i * ($small-group-size + $padding-small-gap);
        }
    }

    .city {
        position: absolute;
        width: 4.5%;
        height: 6%;
    }

    .house {
        position: absolute;
        width: 45%;
        height: 45%;
    }

    .house-0 {
        @extend .house;
        top: 5%;
        left: 28%;
    }

    .house-1 {
        @extend .house;
        top: 45%;
        left: 0%;
    }

    .house-2 {
        @extend .house;
        top: 45%;
        right: 0%;
    }

    .city-0 {
        @extend .city;
        top: 12.4%;
        left: 5%;
    }

    .city-1 {
        @extend .city;
        top: 21.4%;
        left: 2.1%;
    }

    .city-2 {
        @extend .city;
        top: 28.1%;
        left: 14.8%;
    }

    .city-3 {
        @extend .city;
        top: 22.2%;
        left: 29.5%;
    }

    .city-4 {
        @extend .city;    
        top: 35.0%;
        left: 35.3%;
    }

    .city-5 {
        @extend .city;
        top: 41.5%;
        left: 34.3%;
    }

    .city-6 {
        @extend .city;
        top: 36.6%;
        left: 49.8%;
    }

    .city-7 {
        @extend .city;
        top: 47%;
        left: 2.3%;
    }

    .city-8 {
        @extend .city;
        top: 58.2%;
        left: 8.6%;
    }

    .city-9 {
        @extend .city;
        top: 64.2%;
        left: 12.3%;
    }

    .city-10 {
        @extend .city;
        top: 51.5%;
        left: 16.1%;
    }

    .city-11 {
        @extend .city;
        top: 38.7%;
        left: 22.4%;
    }

    .city-12 {
        @extend .city;
        top: 61.2%;
        left: 22.2%;
    }

    .city-13 {
        @extend .city;
        top: 54.7%;
        left: 32.3%;
    }

    .city-14 {
        @extend .city;
        top: 44.2%;
        left: 51.9%;
    }

    .city-15 {
        @extend .city;
        top: 54.7%;
        left: 48.5%;
    }

    .city-16 {
        @extend .city;
        top: 62.8%;
        left: 49.5%;
    }

    .city-17 {
        @extend .city;
        top: 71.3%;
        left: 50.5%;
    }

    .city-18 {
        @extend .city;
        top: 55.5%;
        left: 60.3%;
    }

    .city-19 {
        @extend .city;
        top: 70.8%;
        left: 60.2%;
    }

    .city-20 {
        @extend .city;
        top: 60.8%;
        left: 65.9%;
    }

    .city-21 {
        @extend .city;
        top: 18.5%;
        left: 48.5%;
    }

    .city-22 {
        @extend .city;
        top: 16.2%;
        left: 56.1%;
    }

    .city-23 {
        @extend .city;
        top: 23.3%;
        left: 54.8%;
    }

    .city-24 {
        @extend .city;
        top: 34.3%;
        left: 63.5%;
    }

    .city-25 {
        @extend .city;
        top: 44.7%;
        left: 60.2%;
    }

    .city-26 {
        @extend .city;
        top: 42.7%;
        left: 70.9%;
    }

    .city-27 {
        @extend .city;
        top: 51.9%;
        left: 71.2%;
    }

    .city-28 {
        @extend .city;
        top: 31.9%;
        left: 71.6%;
    }

    .city-29 {
        @extend .city;
        top: 30.1%;
        left: 81.4%;
    }

    .city-30 {
        @extend .city;
        top: 38.7%;
        left: 79.1%;
    }

    .city-31 {
        @extend .city;
        top: 44.1%;
        left: 83.6%;
    }

    .city-32 {
        @extend .city;
        top: 40.5%;
        left: 88.3%;
    }

    .city-33 {
        @extend .city;
        top: 35.5%;
        left: 90.6%;
    }

    .city-34 {
        @extend .city;
        top: 30.2%;
        left: 94.3%;
    }

    .city-35 {
        @extend .city;
        top: 49.9%;
        left: 86.9%;
    }

    .city-36 {
        @extend .city;
        top: 54.1%;
        left: 82.1%;
    }

    .city-37 {
        @extend .city;
        top: 60.3%;
        left: 71.7%;
    }

    .city-38 {
        @extend .city;
        top: 62.9%;
        left: 77.8%;
    }

    .city-39 {
        @extend .city;
        top: 69.9%;
        left: 77.5%;
    }

    .city-40 {
        @extend .city;
        top: 77.5%;
        left: 73.5%;
    }

    .city-41 {
        @extend .city;
        top: 83.9%;
        left: 79.5%;
    }
}

img {
    width: 100%;
}