<div class="panel panel-default auction" ng-controller="AuctionController">
    <div class="panel-heading">Auction:</div>
    <div class="panel-body">
        <div ng-if="game.auction.target == null && game.auction.validPlayers[0] == myId">
            <div class="alert alert-warning">
                <p>Pick plant.</p>
            </div>
            <button type="button" class="btn btn-warning" ng-disabled="game.round == 1" ng-click="passForPlant()">Pass</button>
        </div>
        <div class="row" ng-if="game.auction.target != null">
            <div class="col-sm-3">
                <img class="plant" ng-src="/images/{{game.auction.target.image}}" />
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Bidding players</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="playerId in game.auction.biddingPlayers">
                            <td>{{ getPlayer(playerId).username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="game.auction.target != null && game.auction.biddingPlayers[0] == myId">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">Current bid:</label>
                    <div class="col-sm-8">
                        <input type="number" min="0" max="{{ game.coal }}" class="form-control" ng-value="game.auction.stake" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Your bid:</label>
                    <div class="col-sm-8">
                        <input type="number" min="{{ game.auction.stake + 1 }}" max="{{ myPlayer.money }}" class="form-control" ng-model="bidAmount">
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-primary" ng-disabled="bidAmount > myPlayer.money" ng-click="bidForPlant(bidAmount)">Bid</button>
                        <button type="button" class="btn btn-warning" ng-click="passForPlant()">Pass</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="alert alert-danger" ng-if="game.auction.validPlayers.length == 0 && toManyPlants()">
            To many plants!
        </div>
        <div class="alert alert-info" ng-if="game.auction.target == null && game.auction.validPlayers.length > 0 && game.auction.validPlayers[0] != myId">
            <strong>{{ getPlayer(game.auction.validPlayers[0]).username }}</strong> is picking a plant...
        </div>
        <div class="alert alert-info" ng-if="game.auction.target != null && game.auction.biddingPlayers[0] != myId">
            Highest bid: <strong>{{ game.auction.stake }}</strong> ({{ getPlayer(game.auction.biddingPlayers[game.auction.biddingPlayers.length - 1]).username }})
        </div>
        <div class="alert alert-info" ng-if="game.auction.validPlayers.length == 0 && !toManyPlants()">
            Waiting...
        </div>
    </div>
</div>