<div class="map-container">
    <img class="map" ng-src="/images/{{game.map.image}}">
    <img ng-repeat="x in repeat(game.coal)" class="res-coal-{{x}}" src="/images/markers/coal.png" />
    <img ng-repeat="x in repeat(game.oil)" class="res-oil-{{x}}" src="/images/markers/oil.png" />
    <img ng-repeat="x in repeat(game.garbage)" class="res-garbage-{{x}}" src="/images/markers/garbage.png" />
    <img ng-repeat="x in repeat(game.uranium)" class="res-uranium-{{x}}" src="/images/markers/uranium.png" />
    <div ng-repeat="x in repeat(game.map.cities.length)" class="city-{{x - 1}}">
        <img ng-repeat="player in playersInCities[x - 1]" class="house-{{$index}}" ng-src="/images/{{player.marker}}" />
        <img class="stop" ng-if="game.regions.indexOf(game.map.cities[$index].zone) == -1" src="/images/markers/stop.png" />
    </div>
</div>
