<div class="modal-header">
    <h3 class="modal-title">{{ player.username }} - {{ player.money }}$</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 player-plants">
            <div class="plant" ng-repeat="plant in player.plants" ng-click="selectPlant(plant)">
                <div ng-class="plantClasses[$index]">
                    <img class="plant-img" ng-src="/images/{{plant.plant.image}}">
                        <div ng-repeat="resource in resourcesForPlant(plant)" ng-class="resource.css">
                            <img ng-src="/images/{{resource.image}}" />
                        </div>
                    </img>
                </div>
                <div class="plant-power" ng-if="showBureaucracy()">
                    <div class="resource-input" ng-if="acceptsResource(plant.plant, 'coal')">
                        <label>Coal:</label>
                        <input type="number" class="form-control" min="0" max="{{ plant.coal }}" ng-init="plant.buyCoal = 0" ng-model="plant.buyCoal"/>
                    </div>
                    <div class="resource-input" ng-if="acceptsResource(plant.plant, 'oil')">
                        <label>Oil:</label>
                        <input type="number" class="form-control" min="0" max="{{ plant.oil }}" ng-init="plant.buyOil = 0" ng-model="plant.buyOil"/>
                    </div>
                    <div class="resource-input" ng-if="acceptsResource(plant.plant, 'garbage')">
                        <label>Garbage:</label>
                        <input type="number" class="form-control" min="0" max="{{ plant.garbage }}" ng-init="plant.buyGarbage = 0" ng-model="plant.buyGarbage"/>
                    </div>
                    <div class="resource-input" ng-if="acceptsResource(plant.plant, 'uranium')">
                        <label>Uranium:</label>
                        <input type="number" class="form-control" min="0" max="{{ plant.uranium }}" ng-init="plant.buyUranium = 0" ng-model="plant.buyUranium"/>
                    </div>
                    <div class="resource-ok float-right" ng-if="plant.plant.plantType != 'green' && canPower(plant)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="resource-ok" ng-if="plant.plant.plantType == 'green'">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="selectedPlant != -1 && game.buyingResources[game.buyingResources.length - 1] == myId">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form">
                <div class="form-group" ng-if="canBuyResources().coal">
                    <label class="control-label col-sm-1">Coal:</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="{{ game.coal }}" class="form-control" ng-model="buy.coal">
                    </div>
                </div>
                <div class="form-group" ng-if="canBuyResources().oil">
                    <label class="control-label col-sm-1">Oil:</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="{{ game.oil }}" class="form-control" ng-model="buy.oil">
                    </div>
                </div>
                <div class="form-group" ng-if="canBuyResources().garbage">
                    <label class="control-label col-sm-1">Garbage:</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="{{ game.garbage }}" class="form-control" ng-model="buy.garbage">
                    </div>
                </div>
                <div class="form-group" ng-if="canBuyResources().uranium">
                    <label class="control-label col-sm-1">Uranium:</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="{{ game.uranium }}" class="form-control" ng-model="buy.uranium">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1">Cost:</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" class="form-control" ng-model="buyCost" readonly="readonly">
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-1 col-sm-2">
                        <button type="button" min="0" class="btn btn-primary" ng-disabled="buyCost > player.money || buyCost == 0" ng-click="buyResources();">Buy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div uib-collapse="movePlantColapsed">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <label for="selFrom">Move from:</label>
                <select class="form-control" id="selFrom" ng-model="moveFromPlant">
                    <option ng-repeat="plant in player.plants" value="{{$index}}">Plant {{ plant.plant.cost }}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="selTo">Move to:</label>
                <select class="form-control" id="selTo" ng-model="moveToPlant">
                    <option ng-repeat="plant in player.plants" value="{{$index}}">Plant {{ plant.plant.cost }}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="canMoveResources().any">
            <div class="col-sm-12">
                <br>
                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-if="canMoveResources().coal">
                        <label class="control-label col-sm-3 col-sm-offset-3">Coal:</label>
                        <div class="col-sm-2">
                            <input type="number" min="0" max="{{ player.plants[moveFromPlant].coal }}" class="form-control" ng-model="move.coal">
                        </div>
                    </div>
                    <div class="form-group" ng-if="canMoveResources().oil">
                        <label class="control-label col-sm-3 col-sm-offset-3">Oil:</label>
                        <div class="col-sm-2">
                            <input type="number" min="0" class="form-control" ng-model="move.oil">
                        </div>
                    </div>
                    <div class="form-group" ng-if="canMoveResources().garbage">
                        <label class="control-label col-sm-3 col-sm-offset-3">Garbage:</label>
                        <div class="col-sm-2">
                            <input type="number" min="0" class="form-control" ng-model="move.garbage">
                        </div>
                    </div>
                    <div class="form-group" ng-if="canMoveResources().uranium">
                        <label class="control-label col-sm-3 col-sm-offset-3">Uranium:</label>
                        <div class="col-sm-2">
                            <input type="number" min="0" class="form-control" ng-model="move.uranium">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-offset-6 col-sm-3">
                            <button type="button" min="0" class="btn btn-primary" ng-click="moveResources()">Move</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-if="showBureaucracy()">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" ng-click="powerCities()">Power</button>
                <label>Income: {{ income() }}</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-show="authorized" ng-click="movePlantColapsed = !movePlantColapsed">Move resources</button>
    <button class="btn btn-danger" type="button" ng-show="authorized && selectedPlant != -1" ng-click="dropPlant(selectedPlant)">Drop plant</button>
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>