<div class="panel panel-default stations" ng-controller="StationsController">
    <div class="panel-heading">
        Buying stations:
    </div>
    <div class="panel-body">
        <div class="alert alert-info" ng-if="game.buyingCities[game.buyingCities.length - 1] != myId">
            <strong>{{ getPlayer(game.buyingCities[game.buyingCities.length - 1]).username }}</strong> is buying stations...
        </div>
        <div ng-if="game.buyingCities[game.buyingCities.length - 1] == myId">
            <label for="sel1">Selected cities:</label>
            <select multiple class="form-control" id="sel1">
                <option ng-repeat="city in checkedCities" ng-click="uncheckCity($index)">{{ city.name }}: {{ city.cost }}</option>
            </select>
            <label for="sel2">Available cities:</label>
            <select multiple class="form-control" id="sel2">
                <option ng-repeat="city in availableCities" ng-click="checkCity($index)">{{ city.name }}: {{ city.cost }}</option>
            </select>
            <button type="button" class="btn btn-primary" ng-disabled="cost > myPlayer.money" ng-click="buyStations()">Buy</button>
            <label>Cost: {{ cost }}</label>
        </div>
    </div>
</div>