doctype html
html(lang="en")
	head
		title="Test"
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/game.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js")
	body(ng-app="powergrid", ng-controller="GameController")
		div.row.players-row
			div.col-sm-2(ng-repeat="player in game.players")
				div.panel.panel-default(ng-click="open($index)")
					div.panel-heading
						div.row
							div.col-sm-9
								div.not-connected(ng-if="!player.active") {{ player.username }}
								div.connected(ng-if="player.active") {{ player.username }}
							div.col-sm-3
								img.house(ng-src="/images/{{player.marker}}")
					div.panel-body.player-mini
						div.money Money: {{ player.money }}$
						div.cities Cities: {{ player.cities.length }} ({{ playerMaxPower(player) }})
						div.plant-mini(ng-repeat="plant in player.plants")
							img(ng-src="/images/{{plant.plant.image}}")
		div.row
			div.col-sm-9
				map(ng-class="game.map.css", ng-controller="MapController")
			div.col-sm-3
				div.panel.panel-default
					div.panel-heading Market:
					div.panel-body
						div(class="auction-plants", ng-if="game.phase < 3")
							div(class="plant-mini-3", ng-repeat="plant in game.stack|limitTo:4:4")
								img(ng-src="/images/{{plant.image}}")
							div(class="plant-mini-3", ng-repeat="plant in game.stack|limitTo:4")
								img(ng-src="/images/{{plant.image}}", ng-click="pickPlant($index)")
						div(class="auction-plants", ng-if="game.phase == 3")
							div(class="plant-mini-4", ng-repeat="plant in game.stack|limitTo:6")
								img(ng-src="/images/{{plant.image}}", ng-click="pickPlant($index)")
				div.panel.panel-default(ng-if="game.state=='regions'")
					div.panel-heading Choose region:
					div.panel-body(ng-if="game.players[game.regions.length % game.players.length].user == myId")
						table.table.table-striped
							thead
								tr
									th Chosen regions
							tbody
								tr(ng-repeat="regionId in game.regions")
									td {{ getRegionName(regionId) }}
						div.form-group
							label(for="regionSel") Available regions:
							select.form-control(id="regionSel", ng-options="region.name for region in availableRegions track by region.id", ng-model="data.pickRegion")
						div.form-group
							button(type="button", class="btn btn-primary", ng-click="chooseRegion()") Choose
					div.panel-body(ng-if="game.players[game.regions.length % game.players.length].user != myId")
						div(class="alert alert-info") Waiting...
				div(ng-if="game.state=='auction'")
					auction
				div(class="panel panel-default resources-buy" ng-if="game.state=='resources'")
					div.panel-heading Resources:
					div.panel-body
						div(ng-if="game.buyingResources[game.buyingResources.length - 1] == myId")
							button(type="button", class="btn btn-primary", ng-click="open()") Open player panel
							button(type="button", class="btn btn-warning", ng-click="endResources()") End turn
						div(class="alert alert-info", ng-if="game.buyingResources[game.buyingResources.length - 1] != myId") 
							strong {{ getPlayer(game.buyingResources[game.buyingResources.length - 1]).username }} 
							is buying resources...
				div(ng-if="game.state=='stations'")
					stations
				div.panel.panel-default(ng-if="game.state=='bureaucracy'")
					div.panel-heading Bureaucracy:
					div.panel-body
						div(ng-if="game.poweringCities.indexOf(myId) != -1")
							button(type="button", class="btn btn-default", ng-click="open()") Open player panel
						div.alert.alert-info(ng-if="game.poweringCities.indexOf(myId) == -1") 
							p Waiting for:
							ul
								li(ng-repeat="playerId in game.poweringCities")
									{{ getPlayer(playerId).username}}
				div.panel.panel-default(ng-if="game.state=='end'")
					div.panel-heading Game ended:
					div.panel-body
						div.alert.alert-info(ng-if="winner.user != myId") {{ winner.username }} won!
						div.alert.alert-success(ng-if="winner.user == myId") You won!


		script(src="https://cdn.socket.io/socket.io-1.3.7.js")
		script(src="/js/app.js")
		script(src="/js/controllers/game.js")
		script(src="/js/controllers/player.js")
		script(src="/js/controllers/stations.js")
		script(src="/js/controllers/auction.js")
		script(src="/js/controllers/map.js")
		script(src="/js/directives/stations_directive.js")
		script(src="/js/directives/auction_directive.js")
		script(src="/js/directives/map_directive.js")
		script(src="/js/services/socket.js")
		script(src="/js/services/utils.js")