extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.username}.
						a(href='/signout', class='text-center new-account') Sign Out
		div.row
			form.form-inline(action='/new_game', method='POST')
				div.form-group
					label(for='name') Name:
					input.form-control(type='text', name='name' placeholder='Enter name', required)
				div.form-group
					label(for='max') Max players:
					input.form-control(type='number', name='max', placeholder='Enter max players', min='2', max='6', required)
				button(class='btn btn-primary', type='submit') New game
		div.row
			ul.list-group
				each game in games
					li.list-group-item
						div.well
							div.pull-left
								a(href='/game/#{game._id}', class='btn btn-info', role=button) #{game.name}
							div(style='clear: both')
						table(class='table table-hover')
							each player in game.players
								tr
									td=player.user.username
				each lobby in ownedLobbies
					li.list-group-item
						div.well
							div.pull-left
								a(href='/start/#{lobby._id}', class='btn btn-info', role=button) #{lobby.name}
								p Owner: #{lobby.owner.username}
								p Max players: #{lobby.maxPlayers}
							div.pull-right
								a(href='/remove/#{lobby._id}', class='btn btn-danger', role=button) Leave
							div(style='clear: both')
						table(class='table table-hover')
							each player in lobby.players
								tr
									td=player.username
				each lobby in joinedLobbies
					li.list-group-item
						div.well
							div.pull-left
								a(class='btn btn-info', role=button) #{lobby.name}
								p Owner: #{lobby.owner.username}
								p Max players: #{lobby.maxPlayers}
							div.pull-right
								a(href='/leave/#{lobby._id}', class='btn btn-warning', role=button) Leave
							div(style='clear: both')
						table(class='table table-hover')
							each player in lobby.players
								tr
									td=player.username
				each lobby in otherLobbies
					li.list-group-item
						div.well
							div.pull-left
								a(class='btn btn-info', role=button) #{lobby.name}
								p Owner: #{lobby.owner.username}
								p Max players: #{lobby.maxPlayers}
							div.pull-right
								a(href='/join/#{lobby._id}', class='btn btn-success', role=button) Join
							div(style='clear: both')
						table(class='table table-hover')
							each player in lobby.players
								tr
									td=player.username