extends layout

block content
    div.container
        form(class='form-signin', action='/login', method='POST')
            h2.form-signin-heading Please sign in
            label.sr-only Email address
            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
            label.sr-only Password
            input(type='password', name='password' class='form-control', placeholder='Password', required)
            button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
        a(href='/signup', class='text-center new-account') Create an account
        if message
            h1.text-center.error-message #{message}