body {
  margin: 0px 10px 0px 0px;
  background-color: #fcfcfc; }

div.modal-header {
  background-color: #eee; }

div.modal-body {
  background-color: #fcfcfc; }

div.players-row {
  padding: 10px; }
  div.players-row .not-connected {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3); }
  div.players-row .connected {
    font-size: 1.5em; }
  div.players-row img.house, div.players-row map.map-usa img.house-0, map.map-usa div.players-row img.house-0, div.players-row map.map-usa img.house-1, map.map-usa div.players-row img.house-1, div.players-row map.map-usa img.house-2, map.map-usa div.players-row img.house-2 {
    width: 65%; }

div.player-mini div.money {
  float: right; }
div.player-mini div.plant-mini {
  display: inline-block;
  width: 23%;
  margin: 1%; }

div.auction-plants div.plant-mini-3 {
  display: inline-block;
  width: 24.5%;
  margin: 0.25%; }
div.auction-plants div.plant-mini-4 {
  display: inline-block;
  width: 24.5%;
  margin: 4%; }

div.player-plants {
  margin: 0px 0px 10px 0px; }
  div.player-plants div.plant {
    display: inline-block;
    width: 23%;
    margin: 1%; }
    div.player-plants div.plant img.plant-img {
      z-index: -1; }
    div.player-plants div.plant div.plant-anchor {
      position: relative; }
    div.player-plants div.plant div.plant-selected {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); }
    div.player-plants div.plant .res-0 {
      position: absolute;
      top: 25%;
      left: 12%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant .res-1 {
      position: absolute;
      top: 25%;
      left: 38%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant .res-2 {
      position: absolute;
      top: 25%;
      left: 64%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant .res-3 {
      position: absolute;
      top: 51%;
      left: 12%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant .res-4 {
      position: absolute;
      top: 51%;
      left: 38%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant .res-5 {
      position: absolute;
      top: 51%;
      left: 64%;
      width: 24%;
      height: 24%; }
    div.player-plants div.plant div.plant-power {
      padding: 5% 0% 0% 0%; }
      div.player-plants div.plant div.plant-power div.left-placeholder {
        display: inline-block;
        width: 10%; }
      div.player-plants div.plant div.plant-power div.resource-input {
        display: inline-block;
        margin: 1%;
        width: 37%; }
      div.player-plants div.plant div.plant-power div.resource-ok {
        margin: 17% 0% 2% 0%;
        width: 18%; }
      div.player-plants div.plant div.plant-power div.float-right {
        float: right; }

div.resources-buy button {
  margin: 5px; }

div.stations button {
  margin: 5px; }

map.map-usa {
  margin: 0px 0px 0px 0px; }
  map.map-usa div.map-container {
    position: relative; }
  map.map-usa img.map {
    z-index: -1; }
  map.map-usa img.stop {
    margin: 10%;
    width: auto;
    height: 80%; }
  map.map-usa .res-coal-1 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 37%; }
  map.map-usa .res-oil-1 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 38.2375%; }
  map.map-usa .res-garbage-1 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 37%; }
  map.map-usa .res-coal-2 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 39.04167%; }
  map.map-usa .res-oil-2 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 39.975%; }
  map.map-usa .res-garbage-2 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 39.04167%; }
  map.map-usa .res-coal-3 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 41.08333%; }
  map.map-usa .res-oil-3 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 41.7125%; }
  map.map-usa .res-garbage-3 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 41.08333%; }
  map.map-usa .res-coal-4 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 44.875%; }
  map.map-usa .res-oil-4 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 46.0875%; }
  map.map-usa .res-garbage-4 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 44.875%; }
  map.map-usa .res-coal-5 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 46.91667%; }
  map.map-usa .res-oil-5 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 47.825%; }
  map.map-usa .res-garbage-5 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 46.91667%; }
  map.map-usa .res-coal-6 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 48.95833%; }
  map.map-usa .res-oil-6 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 49.5625%; }
  map.map-usa .res-garbage-6 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 48.95833%; }
  map.map-usa .res-coal-7 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 52.75%; }
  map.map-usa .res-oil-7 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 53.9375%; }
  map.map-usa .res-garbage-7 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 52.75%; }
  map.map-usa .res-coal-8 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 54.79167%; }
  map.map-usa .res-oil-8 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 55.675%; }
  map.map-usa .res-garbage-8 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 54.79167%; }
  map.map-usa .res-coal-9 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 56.83333%; }
  map.map-usa .res-oil-9 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 57.4125%; }
  map.map-usa .res-garbage-9 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 56.83333%; }
  map.map-usa .res-coal-10 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 60.625%; }
  map.map-usa .res-oil-10 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 61.7875%; }
  map.map-usa .res-garbage-10 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 60.625%; }
  map.map-usa .res-coal-11 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 62.66667%; }
  map.map-usa .res-oil-11 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 63.525%; }
  map.map-usa .res-garbage-11 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 62.66667%; }
  map.map-usa .res-coal-12 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 64.70833%; }
  map.map-usa .res-oil-12 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 65.2625%; }
  map.map-usa .res-garbage-12 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 64.70833%; }
  map.map-usa .res-coal-13 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 68.5%; }
  map.map-usa .res-oil-13 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 69.6375%; }
  map.map-usa .res-garbage-13 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 68.5%; }
  map.map-usa .res-coal-14 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 70.54167%; }
  map.map-usa .res-oil-14 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 71.375%; }
  map.map-usa .res-garbage-14 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 70.54167%; }
  map.map-usa .res-coal-15 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 72.58333%; }
  map.map-usa .res-oil-15 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 73.1125%; }
  map.map-usa .res-garbage-15 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 72.58333%; }
  map.map-usa .res-coal-16 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 76.375%; }
  map.map-usa .res-oil-16 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 77.4875%; }
  map.map-usa .res-garbage-16 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 76.375%; }
  map.map-usa .res-coal-17 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 78.41667%; }
  map.map-usa .res-oil-17 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 79.225%; }
  map.map-usa .res-garbage-17 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 78.41667%; }
  map.map-usa .res-coal-18 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 80.45833%; }
  map.map-usa .res-oil-18 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 80.9625%; }
  map.map-usa .res-garbage-18 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 80.45833%; }
  map.map-usa .res-coal-19 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 84.25%; }
  map.map-usa .res-oil-19 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 85.3375%; }
  map.map-usa .res-garbage-19 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 84.25%; }
  map.map-usa .res-coal-20 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 86.29167%; }
  map.map-usa .res-oil-20 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 87.075%; }
  map.map-usa .res-garbage-20 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 86.29167%; }
  map.map-usa .res-coal-21 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 88.33333%; }
  map.map-usa .res-oil-21 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 88.8125%; }
  map.map-usa .res-garbage-21 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 88.33333%; }
  map.map-usa .res-coal-22 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 92.125%; }
  map.map-usa .res-oil-22 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 93.1875%; }
  map.map-usa .res-garbage-22 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 92.125%; }
  map.map-usa .res-coal-23 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 94.16667%; }
  map.map-usa .res-oil-23 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 94.925%; }
  map.map-usa .res-garbage-23 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 94.16667%; }
  map.map-usa .res-coal-24 {
    position: absolute;
    width: 1.79167%;
    bottom: 8.58333%;
    right: 96.20833%; }
  map.map-usa .res-oil-24 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 96.6625%; }
  map.map-usa .res-garbage-24 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 96.20833%; }
  map.map-usa .res-uranium-1 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 30.21667%; }
  map.map-usa .res-uranium-2 {
    position: absolute;
    width: 1.79167%;
    bottom: 3%;
    right: 33.50833%; }
  map.map-usa .res-uranium-3 {
    position: absolute;
    width: 1.79167%;
    bottom: 7.89167%;
    right: 30.21667%; }
  map.map-usa .res-uranium-4 {
    position: absolute;
    width: 1.79167%;
    bottom: 7.89167%;
    right: 33.50833%; }
  map.map-usa .res-uranium-5 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 36.5%; }
  map.map-usa .res-uranium-6 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 44.35%; }
  map.map-usa .res-uranium-7 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 52.2%; }
  map.map-usa .res-uranium-8 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 60.05%; }
  map.map-usa .res-uranium-9 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 67.9%; }
  map.map-usa .res-uranium-10 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 75.75%; }
  map.map-usa .res-uranium-11 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 83.6%; }
  map.map-usa .res-uranium-12 {
    position: absolute;
    width: 1.6375%;
    bottom: 5.79167%;
    right: 91.45%; }
  map.map-usa .city, map.map-usa .city-0, map.map-usa .city-1, map.map-usa .city-2, map.map-usa .city-3, map.map-usa .city-4, map.map-usa .city-5, map.map-usa .city-6, map.map-usa .city-7, map.map-usa .city-8, map.map-usa .city-9, map.map-usa .city-10, map.map-usa .city-11, map.map-usa .city-12, map.map-usa .city-13, map.map-usa .city-14, map.map-usa .city-15, map.map-usa .city-16, map.map-usa .city-17, map.map-usa .city-18, map.map-usa .city-19, map.map-usa .city-20, map.map-usa .city-21, map.map-usa .city-22, map.map-usa .city-23, map.map-usa .city-24, map.map-usa .city-25, map.map-usa .city-26, map.map-usa .city-27, map.map-usa .city-28, map.map-usa .city-29, map.map-usa .city-30, map.map-usa .city-31, map.map-usa .city-32, map.map-usa .city-33, map.map-usa .city-34, map.map-usa .city-35, map.map-usa .city-36, map.map-usa .city-37, map.map-usa .city-38, map.map-usa .city-39, map.map-usa .city-40, map.map-usa .city-41 {
    position: absolute;
    width: 4.5%;
    height: 6%; }
  map.map-usa .house, map.map-usa .house-0, map.map-usa .house-1, map.map-usa .house-2 {
    position: absolute;
    width: 45%;
    height: 45%; }
  map.map-usa .house-0 {
    top: 5%;
    left: 28%; }
  map.map-usa .house-1 {
    top: 45%;
    left: 0%; }
  map.map-usa .house-2 {
    top: 45%;
    right: 0%; }
  map.map-usa .city-0 {
    top: 12.4%;
    left: 5%; }
  map.map-usa .city-1 {
    top: 21.4%;
    left: 2.1%; }
  map.map-usa .city-2 {
    top: 28.1%;
    left: 14.8%; }
  map.map-usa .city-3 {
    top: 22.2%;
    left: 29.5%; }
  map.map-usa .city-4 {
    top: 35.0%;
    left: 35.3%; }
  map.map-usa .city-5 {
    top: 41.5%;
    left: 34.3%; }
  map.map-usa .city-6 {
    top: 36.6%;
    left: 49.8%; }
  map.map-usa .city-7 {
    top: 47%;
    left: 2.3%; }
  map.map-usa .city-8 {
    top: 58.2%;
    left: 8.6%; }
  map.map-usa .city-9 {
    top: 64.2%;
    left: 12.3%; }
  map.map-usa .city-10 {
    top: 51.5%;
    left: 16.1%; }
  map.map-usa .city-11 {
    top: 38.7%;
    left: 22.4%; }
  map.map-usa .city-12 {
    top: 61.2%;
    left: 22.2%; }
  map.map-usa .city-13 {
    top: 54.7%;
    left: 32.3%; }
  map.map-usa .city-14 {
    top: 44.2%;
    left: 51.9%; }
  map.map-usa .city-15 {
    top: 54.7%;
    left: 48.5%; }
  map.map-usa .city-16 {
    top: 62.8%;
    left: 49.5%; }
  map.map-usa .city-17 {
    top: 71.3%;
    left: 50.5%; }
  map.map-usa .city-18 {
    top: 55.5%;
    left: 60.3%; }
  map.map-usa .city-19 {
    top: 70.8%;
    left: 60.2%; }
  map.map-usa .city-20 {
    top: 60.8%;
    left: 65.9%; }
  map.map-usa .city-21 {
    top: 18.5%;
    left: 48.5%; }
  map.map-usa .city-22 {
    top: 16.2%;
    left: 56.1%; }
  map.map-usa .city-23 {
    top: 23.3%;
    left: 54.8%; }
  map.map-usa .city-24 {
    top: 34.3%;
    left: 63.5%; }
  map.map-usa .city-25 {
    top: 44.7%;
    left: 60.2%; }
  map.map-usa .city-26 {
    top: 42.7%;
    left: 70.9%; }
  map.map-usa .city-27 {
    top: 51.9%;
    left: 71.2%; }
  map.map-usa .city-28 {
    top: 31.9%;
    left: 71.6%; }
  map.map-usa .city-29 {
    top: 30.1%;
    left: 81.4%; }
  map.map-usa .city-30 {
    top: 38.7%;
    left: 79.1%; }
  map.map-usa .city-31 {
    top: 44.1%;
    left: 83.6%; }
  map.map-usa .city-32 {
    top: 40.5%;
    left: 88.3%; }
  map.map-usa .city-33 {
    top: 35.5%;
    left: 90.6%; }
  map.map-usa .city-34 {
    top: 30.2%;
    left: 94.3%; }
  map.map-usa .city-35 {
    top: 49.9%;
    left: 86.9%; }
  map.map-usa .city-36 {
    top: 54.1%;
    left: 82.1%; }
  map.map-usa .city-37 {
    top: 60.3%;
    left: 71.7%; }
  map.map-usa .city-38 {
    top: 62.9%;
    left: 77.8%; }
  map.map-usa .city-39 {
    top: 69.9%;
    left: 77.5%; }
  map.map-usa .city-40 {
    top: 77.5%;
    left: 73.5%; }
  map.map-usa .city-41 {
    top: 83.9%;
    left: 79.5%; }

img {
  width: 100%; }

/*# sourceMappingURL=game.css.map */
